<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="rviz_config" default="$(find-pkg-share auv_gps_navigation)/rviz/gps_nav.rviz"/>
  <arg name="rviz_image" default="$(find-pkg-share auv_gps_navigation)/rviz/image/autoware.png"/>
  <arg name="rviz" default="true"/>

  <node pkg="auv_gps_navigation" exec="auv_gps_navigation_node.py" name="auv_gps_navigation_node" output="screen"/>
  <node pkg="auv_gps_navigation" exec="navigation_sim.py" name="navigation_sim" output="screen"/>

  <!-- RViz2 Node -->
  <group>
    <node pkg="rviz2" exec="rviz2" name="rviz2" output="screen"
          args="-d $(var rviz_config) -s $(var rviz_image)"
          if="$(var rviz)">
          <env name="QT_QPA_PLATFORMTHEME" value="qt5ct"/>
    </node>
    
  </group>
</launch>

